@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;

  font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}

* {
  box-sizing: border-box;
}

@import 'components/button';
@import 'components/dialog';
@import 'components/floatmenu';

.context {
  padding: 2em;
  border: solid 1px red;
  display: inline-block;
  cursor: pointer;
}
